[Unit]
Description=Renew Gandi DNS automatically
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=gandi-automatic-dns
Group=gandi-automatic-dns
ExecStart=/usr/bin/gad -d jtheoof.me -r @

[Install]
WantedBy=multi-user.target
