[Unit]
Description=Automatically updates your IP adress with Gandi LiveDNS.
Wants=network-online.target

[Timer]
OnBootSec=1s
OnCalendar=hourly
RandomizedDelaySec=10s

[Install]
WantedBy=timers.target
